html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh; /* Высота окна браузера */
    display: flex; /* Flexbox для распределения пространства */
    box-sizing: border-box;
    overflow: hidden; /* Отключаем прокрутку */
}

.container__chat {
    width: 100%; /* Изначально чат на всю ширину */
    display: flex;
    flex-direction: column;
    min-height: 100%;
    transition: width 0.3s ease; /* Плавное изменение ширины */
}

.container__chat.reduced {
    width: calc(100% - 300px); /* Сужаем чат при открытом модальном окне */
}

.container__chat-hend {
    box-sizing: border-box;
    background-color: #f3eaea;
    max-height: 40px;
    min-height: 40px;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.chat-hend-btn {
    display: flex;
}

.chat-hend-btn .hend {
    margin-left: 20px;
}

.head {
    font-size: 20px;
    font-weight: bold;
    color: #2882a6;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

.container__chat-tape {
    background-color: #cff2fa;
    flex-grow: 1;
    min-width: 100%;
}

.container__chat-send {
    background-color: #f3eaea;
    min-width: 100%;
    min-height: 60px;
    max-height: 60px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 10px;
}

.container__chat-send .send {
    margin-left: 10px;
    margin-right: 10px;
}

.container__chat-send .text-input {
    background-color: #f3eaea;
    margin-left: 10px;
    flex-grow: 1;
    height: 100%;
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition:
        transform 0.2s ease,
        background-color 0.2s ease;
}

.btn__icon {
    width: 20px;
    height: 20px;
}

.btn:hover {
    transform: scale(1.1);
    border-radius: 50%;
}

.container__info {
    position: fixed;
    top: 0;
    right: -100%; /* Скрыто за пределами экрана */
    width: 300px;
    height: 100%;
    background-color: #f9f9f9;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease; /* Плавное появление */
    z-index: 1000;
}

.container__info.open {
    right: 0; /* Показываем окно */
}

.info-widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-height: 40px;
    box-sizing: border-box;
}

.info-widget-btn {
    background: none;
    border: none;
    cursor: pointer;
}
